input[type="button"] {
	box-sizing: border-box;
	padding: 8px 10px;
	margin: 8px 0px;
}
input[type="button"]:hover {
	background-color: yellow;
}

input[type="search"] {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 12px 20px;
	margin: 8px 0px;
}
body {
	background-color: aliceblue;
}
td,th {
	border: 1px solid black;
	width: 120px;
}
